.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../public/assets/fon.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}